<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom  sticky-top">
    <div class="container-fluid">
       <a class="navbar-brand" href="/"><i class="fa-brands fa-airbnb"></i></a> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/listings">All Listings</a>
            <a class="nav-link" href="/listings/insert">Create New</a>
        </div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
            <!-- <div class="nav-item dropdown ms-auto" >
              <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Options
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="">Log In</a></li>
                <li><a class="dropdown-item" href="">Create Account</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="">Log Out</a></li>
              </ul>
            </div> -->
        <div class="navbar-nav ms-auto mb-2 mb-lg-0">
          <%if(!currentUser){%>
            <a class="nav-link active" aria-current="page" href="http://localhost:8080/user/login">Log in </a>
          <a class="nav-link" href="http://localhost:8080/user/signUp">Sign Up</a>
          <%}%>
          <%if(currentUser){%>
          <a class="nav-link" href="http://localhost:8080/user/logout">Log Out</a>
          <%}%>
      </div>
      </div>
    </div>
  </nav>

  <!-- we cant accesss req.user here so we take help of locals i.e. req.locals.currentUser=req.user; *see app.js -->