<!--this file is used in index.js -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%=message%><br>
    <%=msg%> <!--this msg value will be printed onces--> 
    <h3>heloo <%=name%></h3>
</body>
</html>
